<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a aria-label="Angular Material" class="docs-button" mat-button routerLink="/">
      <img alt="angular"
           class="docs-angular-logo"
           src="../../assets/angular-white-transparent.svg">
    </a>
    <span class="spacer"></span>
    <a aria-label="GitHub Repository"
       class="docs-button docs-navbar-hide-small"
       href="https://github.com/Sergey-Rozhkov/test-task"
       mat-button>
      <img alt="angular"
           class="docs-angular-logo"
           src="../../assets/github-circle-white-transparent.svg">
      GitHub
    </a>
  </mat-toolbar-row>
</mat-toolbar>
