<mat-card>
  <mat-card-header>
    <mat-card-title>{{timer.name}}</mat-card-title>
    <mat-card-subtitle>Base duration: {{timer.duration}}s</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div style="text-align: center;">{{ timer.counter$ | async | date:'mm:ss' }}</div>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="toggleTimer()" mat-icon-button>
      <ng-template [ngIfElse]="paused" [ngIf]="timer.isActive">
        <mat-icon>pause</mat-icon>
      </ng-template>
      <ng-template #paused>
        <mat-icon>play_arrow</mat-icon>
      </ng-template>
    </button>
    <a *ngIf="!timer.isActive" mat-icon-button routerLink="/edit/{{timer.id}}">
      <mat-icon>edit</mat-icon>
    </a>
    <button (click)="removeTimer()" mat-icon-button>
      <mat-icon>auto_delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
