<form (ngSubmit)="onSubmit()" [formGroup]="timerForm" novalidate>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Timer</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Enter timer name</mat-label>
            <input formControlName="name" matInput placeholder="Timer name" required>
            <mat-error *ngIf="timerForm.controls['name'].hasError('required')">
              Timer name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Enter timer duration</mat-label>
            <input formControlName="duration" matInput placeholder="Duration in seconds" required>
            <mat-error *ngIf="timerForm.controls['duration'].hasError('required')">
              Timer duration is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="timerForm.controls['duration'].hasError('pattern')">
              Timer duration is should be a <strong>positive number</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="onCancel()" mat-raised-button type="button">Cancel</button>
      <button color="primary" mat-raised-button type="submit">Save</button>
    </mat-card-actions>
  </mat-card>
</form>
